global:
  scrape_interval: "30s"
  scrape_timeout: "10s"
  evaluation_interval: "1m"

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets:
          - prometheus:9090

  - job_name: node-exporter
    static_configs:
      - targets:
          - node-exporter:9100

  - job_name: postgres
    static_configs:
      - targets:
          - postgres-exporter:9187

  - job_name: redis
    static_configs:
      - targets:
          - redis-exporter:9121

  - job_name: rabbitmq
    static_configs:
      - targets:
          - rabbitmq-exporter:9419

  - job_name: api-gateway
    metrics_path: /metrics
    static_configs:
      - targets:
          - api-gateway:4004
    metric_relabel_configs:
      - source_labels: [route]
        regex: /metrics
        action: drop

  - job_name: user-app
    metrics_path: /metrics
    static_configs:
      - targets:
          - user-app:9101

  - job_name: notification-app
    metrics_path: /metrics
    static_configs:
      - targets:
          - notification-app:9102
